/* Task 12 - Adding more styling to the section title */

/* Custom properties */
:root {
    /* Previous custom properties */
  
    --section-title-margin: 0;
    --section-title-color: var(--color-black);
  }
  
  /* Section Title */
  .section-title {
    font-family: var(--font-family-title);
    font-size: var(--font-size-xx-large);
    font-weight: var(--font-weight-bold);
    margin: var(--section-title-margin);
    color: var(--section-title-color);
  }
  
  /* Section Header */
  .section-header {
    text-align: var(--section-header-align);
  }
  
  /* Section Tagline */
  .section-tagline {
    font-family: var(--font-family-title);
    text-transform: var(--section-tagline-transform);
    font-weight: var(--font-weight-bold);
    color: var(--color-primary);
  }
  
  /* Other styles remain the same */
  