/* Task 2 - Do you know your color values? */

/* Based on styles/1-style.css */
html {
    scroll-behavior: smooth;
  }
  
  /* Set foreground color for body and anchor elements */
  body,
  a {
    color: #161616;
  }
  
  /* Hide elements with the class visually-hidden */
  .visually-hidden {
    display: none;
  }
  
  /* Set color for card-category and section-tagline */
  .card-category,
  .section-tagline {
    color: #D73953;
  }
  