/* Task 26 - Add border radius to images */

/* Card testimonial */
.card-testimonial {
    text-align: center;
  }
  
  /* Card avatar inside card-testimonial */
  .card-testimonial .card-avatar {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
  }
  
  /* Cite tag inside card-quote inside card-testimonial */
  .card-testimonial .card-quote cite {
    display: block;
    padding-top: 1rem;
    color: var(--color-primary);
  }
  
  /* Other styles remain the same */
  