/* Task 3 - Reuse and repeat with variables */

/* Define custom properties in :root */
:root {
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);
  }
  
  /* Set foreground color for body and anchor elements */
  body,
  a {
    color: var(--text-color);
  }
  
  /* Hide elements with the class visually-hidden */
  .visually-hidden {
    display: none;
  }
  
  /* Set color for card-category and section-tagline */
  .card-category,
  .section-tagline {
    color: var(--color-primary);
  }
  