/* Task 30 - Fix the works section */

/* Card outer within card-work */
.card-work .card-outer {
    position: relative;
    overflow: hidden;
  }
  
  /* Image inside card-image inside card-work */
  .card-work .card-image img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
    vertical-align: bottom;
  }
  
  /* Card inner inside card-work */
  .card-work .card-inner {
    position: absolute;
    top: -0.1rem;
    left: -0.1rem;
    right: -0.1rem;
    z-index: 1;
  }
  
  /* Hover state */
  .card-work:hover .card-inner {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  /* Card title inside card-work */
  .card-work .card-title {
    text-align: center;
    margin: 0;
    opacity: 0;
    height: 100%;
    position: relative;
  }
  
  /* Link inside card-title inside card-work */
  .card-work .card-title a {
    display: block;
    text-decoration: none;
    padding-top: 45%;
  }
  
  /* After pseudo-element */
  .card-work .card-title a::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  
  /* Hover state */
  .card-work:hover .card-title {
    opacity: 1;
  }
  
  /* Other styles remain the same */
  